body {
	font-family: 'Ubuntu', sans-serif;
}

.jumbotron {
}
.carousel-inner {
	background-color: white;
}
.carousel-inner > .item > img {
	width: 1500px;
	height: 550px;
}

.carousel img {
	min-width: 100%;
}

ul li {
	text-align: left;
}

@media (min-width: 768px) {
	.navbar-nav.navbar-center {
		position: absolute;
		left: 50%;
		transform: translatex(-50%);
	}
}

/* Nav Bar */

.navbar-collapse {
	background-color: #0f58a5;
}

.navbar-nav > li > a {
	padding-top: 25px !important;
	padding-bottom: 5px !important;
}
.navbar-header > a {
	padding-top: 25px !important;
	padding-bottom: 5px !important;
}
.navbar-inverse .navbar-nav > li > a {
	color: white;
	font-size: 18px;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #e9453f; /*Sets the text hover color on navbar*/
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	background: #e9453f; /*color for active box in nav*/
}
.navbar-default .navbar-brand {
	color: #f18b2c;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}
.navbar-brand,
.navbar-nav > li > a {
	text-shadow: none;
}

.arrow {
	text-align: center;
}

.glyphicon {
	font-size: 76px;
	font-weight: 100;
	line-height: 2;
}

.cardRow {
	margin-top: 150px;
}

.cardJob {
	width: 350px;
	height: 450px;
	background-color: #3c84ca;
	margin: 20px;
	text-align: center;
	border: 2px solid white;
	border-radius: 10px;
}

.centerCards {
	justify-content: center;
	display: flex;
}

.phone {
	float: right;
}

.cardLabel {
	font-size: 26px;
	padding: 10px;
	text-align: center;
	background-color: rgba(229, 236, 249, .7);
}

.cardText {
	background-color: rgba(229, 236, 249, .7);
}

.iconSized {
	width: 50%;
	height: auto;
	text-align: center;
}

.list-group-item {
	background-color: rgba(229, 236, 249, .7);
	border: 0;
}
